//global colors
$primary-color:#1aa7ff;
$secondary-color:#0070d2;
$text-color:#000;

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body{
  font-family: "Inter", serif;
}

h1{
  font-size: 4.5em;
}

h2{
  font-size: 3em;
}

h3{
  font-size: 2em;
}

p{
  font-size: 1.2em;
}

.btn-primary{
  background-color: $primary-color;
  border: 1px solid $primary-color;
  padding: 15px 20px;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  &:hover{
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
  }
}

.btn-secondary{
  background-color: $primary-color;
  border: 1px solid $primary-color;
  padding: 15px 20px;
  font-size: 1em;
  font-weight: 500;
  text-transform: uppercase;
  &:hover{
    background-color: $secondary-color;
    border: 1px solid $secondary-color;
  }
}

header{
  nav{
      .nav-link{
        text-transform: uppercase;
        font-size: 1em;
        color: $text-color;
        font-weight: 500;
        margin-left: 20px;
      }

      .logo{
        text-transform: uppercase;
        font-size: 1.8em;
        color: $text-color;
        font-weight: 500;
        span{
          color: $primary-color;
        }
      }
  }
}

.section-1{
  .hero{
    
    min-height: 620px;
    color: white;
    background: linear-gradient(to right,rgba(0,0,0,0.8),rgba(0,0,0,0)),url('../images/hero.jpg');

   span{
    font-size: 1.5em;
    font-weight: 500;
   }
  }
}

.section-2{
  img{
    border-radius: 40px;
  }
  span{
    color: $primary-color;
    font-size: 1.2 em;
    text-transform: uppercase;
    padding-bottom: 10px;
    font-weight: 500;
  }
}